<p>{{titulo}}</p>

<div class="form-check">
    <input class="form-check-input" value="sin" type="radio" name="prefijo" id="sin" checked>
    <label class="form-check-label" for="sin">
      Sin letra (dni español)
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" value="0" type="radio" name="prefijo" id="x" >
    <label class="form-check-label" for="x">
      X
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" value="1" type="radio" name="prefijo" id="y" >
    <label class="form-check-label" for="y">
      Y
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" value="2" type="radio" name="prefijo" id="z" >
    <label class="form-check-label" for="z">
      Z
    </label>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">DNI</span>
    <input type="number" [(ngModel)]="valor" class="form-control" placeholder="Meta su dni" aria-label="Username" aria-describedby="basic-addon1">
  </div>

  <button (click)="calcularLetraDni()" class="btn btn-primary">Calcular Letra</button>
  <br>
  <br>
  <span [class]="dameEstilo()" *ngIf="letra!=''">
  Su letra es {{letra}}
  </span>

 <!--sección para mostrar la lista ngFOR-->
 <div *ngIf="listaDnis && listaDnis.length>0">
  <table class="table">
      <thead>
        <th>PREFIJO</th>
        <th>NUMERO</th>
        <th>LETRA</th>
      </thead>
      <tbody>
        <tr *ngFor="let dniaux of listaDnis">
          <td>{{dniaux.prefijo}}</td>
          <td>{{dniaux.numero}}</td>
          <td>{{dniaux.letra}}</td>
        </tr>
      </tbody>

  </table>

  <button (click)="ordenarPorNumero()" class="btn btn-primary">Ordenar por Número</button><br><br>
  <button (click)="ordenarPorLetra()" class="btn btn-primary">Ordenar por Letra</button>
 </div>